<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="PlainSqs library Test Suite">
            <directory suffix=".php">tests/PlainSqs/</directory>
        </testsuite>
    </testsuites>
</phpunit>
